repeating {{ element }} motifs rendered as {{ composition_phrase }}, {{ symmetry_phrase }} with {{ scale_phrase }}, {{ density_label }}, {{ medium }}, {{ line_style }}, {{ background }}, {{ constraints_line }}
