an ornamental pattern of repeating {{ element }} motifs built as {{ composition_phrase }}, {{ density_label }}, {{ symmetry_phrase }}, {{ scale_phrase }}, {{ line_style }} on {{ background }}, {{ medium }}, {{ constraints_line }}
