{{ medium }} of repeating {{ element }} motifs, composed as {{ composition_phrase }}, {{ scale_phrase }}, {{ symmetry_phrase }}, {{ density_label }}, {{ line_style }}, {{ background }}, {{ constraints_line }}
