{{ medium }} of repeating {{ element }} motifs, {{ composition_phrase }}, with {{ density_label }}, {{ symmetry_phrase }}, {{ scale_phrase }}, {{ line_style }} on {{ background }}, strong visual rhythm, full-page {{ orientation }} composition, {{ constraints_line }}
