{{ medium }} featuring repeating {{ element }} motifs as {{ composition_phrase }}, {{ symmetry_phrase }}, rendered with {{ density_label }}, {{ scale_phrase }}, {{ line_style }}, {{ background }}, richly patterned and colorable, {{ constraints_line }}
