{{ line_style }} depicting repeating {{ element }} motifs, {{ composition_phrase }}, with {{ scale_phrase }}, {{ density_label }}, {{ symmetry_phrase }}, {{ background }}, {{ medium }}, strong decorative rhythm, {{ constraints_line }}
